h1
  | <span style=color:green;>「#{@mygenre.name}」</span>の投稿
  - @mypost.each do |obj|
    h1.top_title
      a href="/mybooks/#{obj.id}"
        =obj.title
    p.top_memo style="font-size:18px; margin-top:10px;" 
        =obj.content
  hr
  .navigate style=("text-align:center; margin-top:50px") 
    - if @page_num > 0 
      a href="/mybooks/#{@mygenre.id}/#{@page_num -1}"<<前のページ
      | &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    a href="/mybooks/#{@mygenre.id}/#{@page_num +1}"次のページ>>


