// Place all the styles related to the mygenres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Place all the styles related to the mybooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul, ol {
    list-style: none;
}

#homepage{
background-image: url('wel.jpg');background-size: cover;
}

html, body {
    margin: 0;
    padding: 0;
    height:110%;
}

#container {
    position:relative;
    min-height: 100%;

#main{
    padding-bottom:150px;
}

}
footer {
    background-color: black;
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0;

}

